.cnotes input,
.cnotes textarea {
    border: 1px solid #CCC;
    margin-bottom: 10px;
}
.cnotes input {
    width: 120px;
}
.cnotes textarea {
    width: 160px;
}
.cnotes label {
    width: 30px;
    display: block;
}

.cnotes input[type=submit]:hover {
    cursor: pointer;
}

.cnotes-notes div {
    border-bottom: 1px dotted #cccccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.cnotes-notes span.title {
    display: block;
}

.cnotes-form fieldset {
    margin: 0;
}

.clear {
    clear:both;
}

.cnotes-toggle {
    background: url('../images/add_note.png') 0 0 no-repeat;
    padding-left: 20px;
    cursor: pointer;
    display: block;
}

.cnotes-toggle:hover {
    text-decoration: underline;
}


.rgt {
    float: right;
}